@import url(https://fonts.googleapis.com/css?family=Poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
header{
    position: fixed;
    
    padding: 20px 100px;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    display: flex;
    z-index:99 ;
    align-items: center;
}
body::before{
    content: '';
    width: 100%;
    height: 100%;
    animation: showright 1s ease forwards;
    animation-delay: .4s;
    background-color:#162938;
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
    
}

.navigation a{
    font-size: 1.1em;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    margin-right: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    transform-origin: right;
    background-color: white;
    border-radius: 5px;
    
    transform: scaleX(0);
    transition: transform .5s;


}
.navigation .btnnav::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 30%;
    height: 3px;
    transform-origin: right;
    background-color: white;
    border-radius: 5px;
    
    transform: scaleX(0);
    transition: transform .5s;


}

.navigation .btnnav:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnlogin{
    font-size: 1.1em;
    border-radius: 6px;
    outline: none;
    color: white;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    height: 40px;
    width: 130px;
    transition: .5s;
    

}
.navigation .btnnav{
    font-size: 1.1em;
    border-radius: 6px;
    outline: none;
    color: white;
    cursor: pointer;
    background: red;
    border: none;
    height: 40px;
    width: 130px;
    transition: .5s;
    

}
.navigation .btnlogin:hover{
    background-color: white;
    color: black;
    height: 45px;
    width: 135px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.wrapper .registration{
    position: absolute;
    transition: none;
    transform: translate(400px);
}
.wrapper .formbox{
    /*display: none;*/
    transition: transform .18s ease;
    transform:translateX(0);
}
.wrapper.active-pop{
    transform: scale(1);
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease ,height .2s ease;
} 
.wrapper.active .registration{
    transition: transform .18s ease;
    transform: translate(0);
}
.wrapper.active{
    height:520px;
    
}
.wrapper.active .formbox{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .formbox{
    width: 100%;
    padding: 40px;
    align-items: center;
    
}
h2{
    text-align: center;
    font-size: 2em;
    font-style: bold;
    font-weight: 400px;
    font: 'Poppins' ;
    color: white;
}
.inputbox{
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom:2px solid #162938;
    margin: 30px 0;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;


}
.inputbox input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px

}
.inputbox .icon{
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: white;
    line-height: 57px;

}
.inputbox input:focus~label,
.inputbox input:valid~label{
    top:-5px
}
.remebforget{
    font-size: .9em;
    font-weight: 400;
    justify-content: space-between;
    display: flex;
    margin: -15px 0 15px;

}
.remebforget label input{
    margin-right: 3px;
    accent-color: white;

}
.remebforget a{
    text-decoration: none;
    color: white;
    transition: .5s;

}
.remebforget a:hover{
    text-decoration: underline;
    
}
.btn{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #000000;
    font-weight: 700;
    cursor: pointer;
    font-size: 1em;
    border:none;
    outline: none;
    

}
.register{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}
.register  p a{
    color: white;
    font-weight: 500;
    text-decoration: none;

}
.register a:hover{
    text-decoration: underline;
}
.wrapper .iconclose{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    align-items: center;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
    border-top-right-radius: 20px;

}
@keyframes showright {
    100%{width: 0;}
    
}